<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymelear.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Reset Password', 'none')" />




<body>
	<div class="container-fluid">

<div >
		
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{/images/ShopmeAdminSmall.png}" />
			</a>
			


		</nav>
	</div>


		<div class="container-fluid text-center">
			<h2>Reset Password</h2> 
		</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<div>
		<form th:action="@{/forgotpassword}" method="post" style="max-width:420px; margin:0 auto;" >
			<div class="border border-secondary rounded p-3 text-center">
				<p>We will send an email with reset link</p>
				<input type="email" name="email" class="form-control" required placeholder="email" /><br><br>
				<P>
				<select class="form-control" >
							<option value="0">select security question</option>
							<option value="1">what is your favorite place</option>
							<option value="2">what is your favorite pet</option>
							<option value="3">what is your mother name</option>
							<option value="4">what is your father name</option>
						</select>
				<p>
				<input type="text" name="answer" class="form-control" required placeholder="security question answer" />
				<p>
				<input type="submit" value="Reset Password" class="btn btn-primary"/>
			</P>
			</div>
			
		</form>
		
		

		<div th:replace="fragments :: footer"></div>

	</div>


</body>

</html>