
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymelear.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Error - Shopme Admin', 'none')" />



<body>
	<div class="container-fluid">

		<div th:replace="navigation :: menu"></div>



		<div class="m-3">
			<H2>Sorry, the server has encountered an error while proccessing you rrequest</H2>
		</div>
	</div>
	

	<div th:replace="fragments :: footer"></div>
</body>

</html>




























